**/.env
**/node_modules
**/build
**/package-lock.json
**/__pycache__


model/*

topnotchsky-backend

backend/uploads

testing/src/tests
testing/src/nluTests

training/openai
training/dataset
training/nlu_dataset


zConverter/merged-model
zConverter/llama.cpp
zConverter